.color-change-3x {
    animation: color-change-3x 1s linear infinite alternate both;
}

@keyframes color-change-3x {
    0% {
        fill: $logo-cl;
    }

    50% {
        fill: $svg-secondary;
    }

    100% {
        fill: $btn-pag;
    }
}

.modal__backdrop {
    opacity: 0;
}

.modal__hidden {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all $speed $cubic-bezier;
}