<section class="lightbox none lightbox-js" id="lightbox">
    <div class="">
        <div class="container lightbox__container">
            <div class="lightbox__wrapper">
                <button class="lightbox__close-btn lightbox-close-btn-js">
                    <svg class="lightbox__close-btn-svg">
                        <use href="./images/icons/close.svg#close"></use>
                    </svg>
                </button>
                <div class="movie-info">
                    <div class="movie-info__wrapper">
                        <img class="movie-info__img" src="./images/info.jpg" alt="">
                        <div class="movie-info__data">
                            <h1 class="movie-info__title">a fistful of lead</h1>
                            <table class="movie-info__table">
                                <tr>
                                    <th class="movie-info__parameter">Vote / Votes</th>
                                    <th class="movie-info__value">
                                        <span class="movie-info__value--rating">7.3</span>
                                        <span class="movie-info__value--devider">&nbsp;/</span>
                                        <span class="movie-info__value--votes">1260</span>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="movie-info__parameter">Popularity</td>
                                    <td class="movie-info__value">100.2</td>
                                </tr>
                                <tr>
                                    <td class="movie-info__parameter">Original Title</td>
                                    <td class="movie-info__value--title">a fistful of lead</td>
                                </tr>
                                <tr>
                                    <td class="movie-info__parameter">Genre</td>
                                    <td class="movie-info__value">Western</td>
                                </tr>
                            </table>
                            <h2 class="movie-info__about">about</h2>
                            <p class="movie-info__text">Four of the West’s most infamous outlaws assemble to steal a
                                huge
                                stash of gold from the most
                                corrupt settlement of the
                                gold rush towns. But not all goes to plan one is killed and the other three escapes with
                                bags of gold hide out in the
                                abandoned gold mine where they happen across another gang of three – who themselves were
                                planning to hit the very same
                                bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
                                filled with lead... they’ve
                                been double crossed – but by who and how?</p>
                            <div class="movie-info__buttons-wrapper">
                                <button class="movie-info__button-add-to-watched lightbox-add-to-watched-btn-js">add to
                                    watched</button>
                                <button class="movie-info__button-add-to-queue lightbox-add-to-queue-btn-js">add to
                                    queue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>