<section class="lightbox none lightbox-js" id="lightbox">
    <div class="lightbox__container modal__hidden lightbox-container-js">
        <div class="lightbox__wrapper">
            <button class="lightbox__close-btn lightbox-close-btn-js">
                <svg class="lightbox__close-btn-svg">
                    <use href="./images/icons/close.svg#close"></use>
                    <!-- <use href="./images/icons/symbol-defs.svg#close"></use> -->
                </svg>
            </button>
            <div class="movie-info">
                <div class="movie-info__wrapper lightbox-tpl-js">


                </div>
            </div>
        </div>
    </div>

</section>