<div class="team__backdrop team__backdrop-is-hidden team-backdrop-js">
    <div class=" team__modal">
        <div class="team__button-wrapper">
            <button class="team__modal-closebtn team-closebtn-js" type="button">
                <svg class="team__modal-close-svg">
                    <use href="./images/icons/close.svg#close"></use>
                </svg>
            </button>
        </div>
        <h1 class="team__title">our team</h1>
        <ul class="team__card-list">
            <li class='card__item'>
                <img class='team__card-img' src="https://avatars.githubusercontent.com/u/85996689?v=4" alt='picture' />
                <div class="team__card-info">
                    <div class="team__card-text-block">
                        <span class="team__card-text">anna</span>
                        <span class="team__card-text">sergienko</span>
                    </div>
                    <!-- <div class="team__card-icons"> -->
                    <!-- <a class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/figma.svg#figma"></use>
                            </svg>
                        </a> -->
                    <a href="https://github.com/anna-sergienko" target="_blank" rel="noopener noreferrer"
                        class="team__card-icon-link">
                        <svg class="team__card-svg">
                            <use href="./images/icons/github.svg#github"></use>
                        </svg>
                    </a>
                    <!-- </div> -->
                </div>
            </li>

            <li class='card__item'>
                <img class='team__card-img' src="https://avatars.githubusercontent.com/u/80968651?v=4" alt='picture' />
                <div class="team__card-info">
                    <div class="team__card-text-block">
                        <span class="team__card-text">igor</span>
                        <span class="team__card-text">berezhnoy</span>
                    </div>
                    <!-- <div class="team__card-icons"> -->
                    <!-- <a class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/figma.svg#figma"></use>
                            </svg>
                        </a> -->
                    <a href="https://github.com/webdevbiv" target="_blank" rel="noopener noreferrer"
                        class="team__card-icon-link">
                        <svg class="team__card-svg">
                            <use href="./images/icons/github.svg#github"></use>
                        </svg>
                    </a>
                    <!-- </div> -->
                </div>
            </li>

            <li class='card__item'>
                <img class='team__card-img' src="https://avatars.githubusercontent.com/u/86491334?v=4" alt='picture' />
                <div class="team__card-info">
                    <div class="team__card-text-block">
                        <span class="team__card-text">iryna</span>
                        <span class="team__card-text">shvets</span>
                    </div>
                    <!-- <div class="team__card-icons"> -->
                    <!-- <a class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/figma.svg#figma"></use>
                            </svg>
                        </a> -->
                    <a href="https://github.com/IrynaShvets" target="_blank" rel="noopener noreferrer"
                        class="team__card-icon-link">
                        <svg class="team__card-svg">
                            <use href="./images/icons/github.svg#github"></use>
                        </svg>
                    </a>
                    <!-- </div> -->
                </div>
            </li>

            <li class='card__item'>
                <img class='team__card-img' src="https://avatars.githubusercontent.com/u/83642234?v=4" alt='picture' />
                <div class="team__card-info">
                    <div class="team__card-text-block">
                        <span class="team__card-text">oleksii</span>
                        <span class="team__card-text">klimchenko</span>
                    </div>
                    <!-- <div class="team__card-icons"> -->
                    <!-- <a class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/figma.svg#figma"></use>
                            </svg>
                        </a> -->
                    <a href="https://github.com/Klimchenko" target="_blank" rel="noopener noreferrer"
                        class="team__card-icon-link">
                        <svg class="team__card-svg">
                            <use href="./images/icons/github.svg#github"></use>
                        </svg>
                    </a>
                    <!-- </div> -->
                </div>
            </li>

            <li class='card__item'>
                <img class='team__card-img' src="https://avatars.githubusercontent.com/u/86718839?v=4" alt='picture' />
                <div class="team__card-info">
                    <div class="team__card-text-block">
                        <span class="team__card-text">stanislava</span>
                        <span class="team__card-text">semenyuk</span>
                    </div>
                    <!-- <div class="team__card-icons"> -->
                    <!-- <a class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/figma.svg#figma"></use>
                            </svg>
                        </a> -->
                    <a href="https://github.com/Stanislava001" target="_blank" rel="noopener noreferrer"
                        class="team__card-icon-link">
                        <svg class="team__card-svg">
                            <use href="./images/icons/github.svg#github"></use>
                        </svg>
                    </a>
                    <!-- </div> -->
                </div>
            </li>

        </ul>

    </div>
</div>