<div class="team__backdrop team__backdrop-is-hidden team-backdrop-js">
    <div class=" team__modal">
        <div class="team__button-wrapper">
            <button class="team__modal-closebtn team-closebtn-js" type="button" >
                <svg class="team__modal-close-svg">
                <use href="./images/icons/close-btn.svg#close-btn"></use>
                </svg>
            </button>
        </div>

        <ul class="team__card-list">
            <li class='card__item'>
                <img class='team__card-img' src="./images/download.png" alt='picture' />
                <div class="team__card-info">
                    <div class="team__card-text-block">
                        <span class="team__card-text">anna</span>
                        <span class="team__card-text">sergienko</span>
                    </div>
                    <!-- <div class="team__card-icons"> -->
                        <!-- <a class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/figma.svg#figma"></use>
                            </svg>
                        </a> -->
                        <a href="#" class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/github.svg#github"></use>
                            </svg>
                        </a>
                    <!-- </div> -->
                </div>
            </li>

            <li class='card__item'>
                <img class='team__card-img' src="./images/download.png" alt='picture' />
                <div class="team__card-info">
                    <div class="team__card-text-block">
                        <span class="team__card-text">igor</span>
                        <span class="team__card-text">berezhnoy</span>
                    </div>
                    <!-- <div class="team__card-icons"> -->
                        <!-- <a class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/figma.svg#figma"></use>
                            </svg>
                        </a> -->
                        <a href="#" class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/github.svg#github"></use>
                            </svg>
                        </a>
                    <!-- </div> -->
                </div>
            </li>

            <li class='card__item'>
                <img class='team__card-img' src="./images/download.png" alt='picture' />
                <div class="team__card-info">
                    <div class="team__card-text-block">
                        <span class="team__card-text">iryna</span>
                        <span class="team__card-text">shvets</span>
                    </div>
                    <!-- <div class="team__card-icons"> -->
                        <!-- <a class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/figma.svg#figma"></use>
                            </svg>
                        </a> -->
                        <a href="#" class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/github.svg#github"></use>
                            </svg>
                        </a>
                    <!-- </div> -->
                </div>
            </li>

            <li class='card__item'>
                <img class='team__card-img' src="./images/download.png" alt='picture' />
                <div class="team__card-info">
                    <div class="team__card-text-block">
                        <span class="team__card-text">oleksii</span>
                        <span class="team__card-text">klimchenko</span>
                    </div>
                    <!-- <div class="team__card-icons"> -->
                        <!-- <a class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/figma.svg#figma"></use>
                            </svg>
                        </a> -->
                        <a href="#" class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/github.svg#github"></use>
                            </svg>
                        </a>
                    <!-- </div> -->
                </div>
            </li>

            <li class='card__item'>
                <img class='team__card-img' src="./images/download.png" alt='picture' />
                <div class="team__card-info">
                    <div class="team__card-text-block">
                        <span class="team__card-text">stanislava</span>
                        <span class="team__card-text">semenyuk</span>
                    </div>
                    <!-- <div class="team__card-icons"> -->
                        <!-- <a class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/figma.svg#figma"></use>
                            </svg>
                        </a> -->
                        <a href="#" class="team__card-icon-link">
                            <svg class="team__card-svg">
                            <use href="./images/icons/github.svg#github"></use>
                            </svg>
                        </a>
                    <!-- </div> -->
                </div>
            </li>
            
        </ul>

    </div>
</div>