.tui-pagination * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
}

.tui-pagination {
  margin: 0px;
  line-height: normal;
  text-align: center;
  font-size: 0;
  margin-top: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-tablet {
    margin-top: 50px;
  }
  @include for-phone {
    margin-top: 40px;
  }
  &--none {
    display: none;
  }
}

.tui-pagination .tui-page-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 13px 11px;
  margin-left: 0;
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.333;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 5px;
  margin-right: 2px;

  @include for-phone {
    margin-right: 0px;
  }
}

.tui-pagination .tui-page-btn:hover,
.tui-pagination .tui-page-btn:focus {
  color: #fff;
  background-color: #ff6b08;
  transition: all $speed $cubic-bezier;
}

.tui-next,
.tui-prev {
  background: #f7f7f7;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff;
  background: #ff6b08;
  cursor: default;
  border-radius: 5px;
}

.tui-pagination .tui-first-child.tui-is-selected,
.tui-pagination strong.tui-first-child {
  margin-left: 0;
}

.tui-pagination .tui-first,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @include for-phone {
    display: none;
  }
}

span.tui-page-btn.tui-first,
span.tui-page-btn.tui-last,
a.tui-page-btn.tui-first,
a.tui-page-btn.tui-last {
  @include for-phone {
    display: none;
  }
}

.tui-pagination .tui-first {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  order: -6;
}

.tui-pagination .tui-last {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  order: 6;
  padding: 0;
}

.tui-pagination .tui-prev {
  order: -8;
}

.tui-pagination .tui-next {
  order: 8;
}

.tui-pagination .tui-next {
  margin-right: 0;
}

.tui-pagination .tui-prev-is-ellip {
  border-right: 0;
}

.tui-pagination .tui-next-is-ellip {
  border-left: 0;
}

.tui-pagination .tui-prev + .tui-first,
.tui-pagination .tui-last + .tui-next {
  border-left: 0;
}

.tui-ico-prev {
  background-image: url(../images/icons/arrow-left-pagination.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  stroke: #000;
}

.tui-ico-next {
  background-image: url(../images/icons/arrow-right-pagination.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  stroke: #000;
}

.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-ellip,
.tui-pagination .tui-ico-last {
  background: url(../images/sp_btn.png) no-repeat 0 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  stroke: #000;
}

span.tui-page-btn.tui-last,
span.tui-page-btn.tui-first,
span.tui-page-btn.tui-next,
span.tui-page-btn.tui-prev {
  opacity: 0.5;
  visibility: visible;
}

.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  padding: 0;
  line-height: 1;
}

.tui-pagination .tui-first,
.tui-pagination .tui-last {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-prev {
  width: 16px;
  height: 16px;
}

.tui-pagination .tui-ico-first {
  width: 11px;
  height: 10px;
  background-position: 0px 0px;
}

.tui-pagination .tui-ico-last {
  width: 11px;
  height: 10px;
  background-position: 0px -12px;
}

.tui-pagination .tui-ico-ellip {
  width: 10px;
  height: 2px;
  margin-top: 0px;
  vertical-align: top;
  background-position: 0px -24px;
}
body.dark-theme {
  .tui-ico-ellip,
  .tui-ico-last,
  .tui-ico-first {
    filter: brightness(0) invert(1);
  }
  & .tui-page-btn {
    color: #ffffff;
  }
}
