.lightbox__open {
    overflow: hidden;
}

.lightbox {
    font-family: $font-family-main;
    @include font-style(300, 12px, 1.67, $fc-main);
    font-style: normal;
    letter-spacing: normal;
    background: $bd-modal;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-y: auto;
    opacity: 1;

    @include for-phone {}

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%) scale(1);

        @include for-phone {
            width: 280px;
            left: 50%;
            height: 99.9%;
        }

        @include for-tablet {
            width: 620px;
            height: auto;
            overflow: auto;
        }

        @include for-desktop {
            width: 882px;
            height: auto;
            overflow: auto;
        }

        transition: all $speed $cubic-bezier;
    }


    &__wrapper {
        padding-top: 50px;
        padding-bottom: 40px;
        background: $bg-main;
        position: relative;

        @include for-phone {
            padding-top: 48px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 41px;
        }

        @include for-tablet {
            padding-left: 28px;
            padding-right: 28px;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @include for-desktop {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    &__close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        // &:hover,
        // &:focus {
        //     cursor: pointer;
        //     box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        // }

        &:hover *,
        &:focus * {
            cursor: pointer;
            fill: $fc-accent;
            stroke: $fc-accent;
        }

        &-svg {
            fill: $fc-main;
            stroke: $fc-main;
            width: 100%;
            height: 100%;
        }
    }
}

.movie-info {
    &__wrapper {
        display: flex;

        @include for-phone {
            flex-direction: column;
        }
    }

    &__img {
        border-radius: 5px;
        width: 396px;

        @include for-phone {
            max-height: 356px;
            min-height: 345px;
            max-width: 241px;
            margin-bottom: 30px;
        }

        @include for-tablet {
            max-height: 373px;
            max-width: 264px;
            margin-right: 32px;
        }

        @include for-desktop {
            min-width: 396px;
            min-height: 594px;
            margin-right: 30px;
        }

    }

    &__title {
        margin-bottom: 20px;
        text-transform: uppercase;

        @include for-phone {
            @include font-style(500, 20px, 1.17, $fc-main);
        }

        @include for-tablet {
            @include font-style(500, 20px, 1.17, $fc-main);
        }

        @include for-desktop {
            @include font-style(500, 30px, 1.16, $fc-main);
        }




    }

    &__table {
        text-align: left;
        width: 100%;
        margin-bottom: 20px;
    }

    &__parameter {
        @include font-style(500, 12px, 1.33, $fc-lightbox);
    }

    &__value {
        @include font-style(500, 12px, 1.33, $fc-main);

        &--rating {
            @include font-style(500, 12px, 1.17, $fc-secondary);
            background-color: $btn-accent;
            padding: 1px 9px;
            border-radius: 5px;
        }

        &--devider {
            color: $fc-lightbox;
            margin-right: 7px;

            @include for-phone {
                margin-right: 3px;
            }
        }

        &--votes {
            @include font-style(500, 12px, 1.17, $fc-main);
            background-color: $fc-lightbox-value;
            padding: 1px 4px;
            border-radius: 5px;
        }

        &--title {
            text-transform: uppercase;
            @include font-style(500, 12px, 1.33, $fc-main);
        }
    }

    &__about {
        text-transform: uppercase;
        @include font-style(500, 12px, 1.33, $fc-main);
        margin-bottom: 10px;
    }

    &__text {
        @include font-style(500, 12px, 1.67, $fc-main);
        margin-bottom: 35px;

        @include for-phone {
            margin-bottom: 21px;
        }
    }

    &__buttons-wrapper {
        display: flex;
    }

    &__button-add-to-watched {
        text-transform: uppercase;
        @include font-style(500, 12px, 1.33, $fc-main);
        width: 136px;
        background: transparent;
        border: none;
        padding: 13px 0;
        margin-right: 15px;
        outline: 1px solid $svg-main;
        border-radius: 5px;

        @include for-phone {
            width: 112px;
            padding: 13px 8px;
        }

        @include for-tablet {
            width: 125px;
        }

        @include for-desktop {
            width: 136px;
        }

        &:hover,
        &:focus {
            background-color: $btn-accent;
            color: $fc-secondary;
            outline: 1px solid $btn-accent;
            cursor: pointer;
        }
    }

    &__button-add-to-queue {
        text-transform: uppercase;
        @include font-style(500, 12px, 1.33, $fc-main);

        background: transparent;
        border: none;
        padding: 13px 0;
        outline: 1px solid $svg-main;
        border-radius: 5px;

        @include for-phone {
            width: 112px;
        }

        @include for-tablet {
            width: 125px;
        }

        @include for-desktop {
            width: 136px;
        }

        &:hover,
        &:focus {
            background-color: $btn-accent;
            color: $fc-secondary;
            outline: 1px solid $btn-accent;
            cursor: pointer;
        }
    }
}